/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

html{
  height: 100vh;
  width: 100vw;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: initial;
}

:root{
/*   colors */
  --clr-primary-700: #0151B5;
  --clr-primary-800: #022060;
  --clr-primary-900: #001132;
  --clr-secondary-100: #fff;
  --clr-secondary-500: #C6C6C6;
  --clr-secondary-700: #474747;

/* spacing */
  --space-100: .5rem;
  --space-150: 1rem;
  --space-200: 1.5rem;  

  --radius-1: 5px;

/* margins */
--m-1: 1rem;

/* width variation */
--activity-w: 15rem; 
--activity-h: 100px;
--activity-img-w: 220px;
--activity-img-h: 110px;
--custom-card-h: 156px;
--custom-card-w: 164px;
--activity-mb: 8rem;
--contact-map-h: 18rem;
--contact-git-h: 14rem; /* get in touch */
--contact-git-w: 80%; /* get in touch */
--department-img-h: 20rem;
--patron-w: 100px;
--patron-h: 100px;
--patron-card-h: 12rem;
--contact-icon-w: 30px;
--contact-icon-h: 30px;
--arrow-w: 30px;
--arrow-h: 30px;

  --carousel-h: 16rem;
/* font sizes */
  --text-800: 19.5px;
  --text-700: 16px;
  --text-650: 14.5px;
  --text-600: 14px;
  --text-500: 11.6px;
  --text-400: 8px;
  --text-300: 6px;
  
}

/* utility Classes */
.bg-clr-primary{
    background-color: var(--clr-primary-900);
}
.section{
  margin-bottom: 5rem;  
}
.title{
  font-size: var(--text-800);
  font-weight: bold;
  margin-bottom: var(--space-200);
  text-align: center;
}
.heading{
    font-size: var(--text-700);
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
.sub-title{
    font-size: var(--text-500);
    font-weight: 600;
}
.medium-text{
    font-size: var(--text-400);
}
.small-text{
    font-size: var(--text-300);
}
.button{
    padding: var(--space-100) var(--space-150);
    color: white;
    font-weight: bold;
    font-size: var(--text-6x00);
    background-color: var(--clr-primary-800);
    border-radius: var(--radius-1);
    text-decoration: none;
    transition: all .2s ease-out;
}
.button:hover{
    color: white;
    background: var(--clr-primary-700);
}
.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.scroll-x{
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
}
.img-fit{
    width: 100% !important;
    height: 100% !important;
}
.bg-stretch{
    box-shadow:  0 0 0 100vmax var(--clr-primary-900);
    clip-path: inset(0 -100vmax);
    padding-top:3rem;
    padding-bottom: 3rem;
}
.tag{
    padding: .1rem .5rem;
    background: rgba(89, 241, 122, 0.201);
    text-decoration: none;
    color: var(--clr-secondary-700);
    border-radius: .2rem;
}
.tag:hover{
    color: black;
}
/* hide horizontal scroll for all browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.arrow{
    width: var(--arrow-w);
    height: var(--arrow-h);
    position: absolute;
    cursor: pointer;
    transition: all .2s ease-out;
    display: none;
}
.arrow:hover{
    transform: scale(1.15);
}
#arrow-right{
    right: -3%;
    top: 60%;
}
#arrow-left{
    left: -3%;
    top: 60%;
    transform: rotate(180deg);
}




/* navbar styling */
nav .navbar-toggler, nav .navbar-toggler:focus-visible{
    border: none !important;
    outline: none !important;
}
/* getting rid of border on menu mobile  */
.navbar{
    --bs-navbar-toggler-focus-width: 0rem !important;
}

nav .nav-item{
    text-align: center;
}


/* banner section */
.carousel-item img{
    width: 100%;
    margin: auto;
    height: var(--carousel-h)
}



.activity{
    background: white;
    position: relative;
    height: var(--activity-h);
    padding: 1rem;
    width: var(--activity-w);
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #70707054;
    margin-bottom: var(--activity-mb);
}
/* .activities .row{
    margin-bottom: 5rem;
} */
.activities .title{
    margin-bottom: 3rem;
}
.activities__day{
    width: 60px;
    height: 50px; 
    position: absolute;
    top: -30%;
    left: 38%;
    padding: 1rem;
    border-radius: 26% 36% 0% 36% / 24% 24% 18% 29% ;
    box-shadow: 1px 1px 5px #70707054;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-650);
    font-weight: 800;
    color: white;
    background: var(--clr-primary-800);

}
.activities__info{
    font-size: var(--text-600);
    font-weight: 500;
    padding-top: var(--space-150)
}
.activities__info > p {
    margin-bottom: 0 !important;
}
.activities__info .small-text{
    color: var(--clr-primary-700);
    font-weight: 900;
    letter-spacing: 1px;
}
.activities__image{
    position: absolute;
    width: var(--activity-img-w); 
    height: var(--activity-img-h);
    left: 20%;
    bottom: -80%;
    border-radius: 10px;
    overflow: hidden;
}
.custom-card:not(:last-child){
    margin-right: var(--m-1);
}
.custom-card{
    background: rgb(168, 168, 168);
    height: var(--custom-card-h);
    width: var(--custom-card-w);
    flex-shrink: 0;
    transition: all .3s ease-out;
}
.custom-card img{
    width: 100%;
    height: 100%;
}
.departments__introText{
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: var(--text-650)
}
.departments__image{
    width: 100%;
    height: var(--department-img-h);
    margin: auto;
    background-image: url('assets/departments-img.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.patron-card{
    color: var(--clr-secondary-500);
    height: var(--patron-card-h);
}

.patron-card:not(:last-child){
    margin-right: 1.2rem;
}
.patrons__img{
    border-radius: 50%;
    width: var(--patron-w); 
    height: var(--patron-h);
    background: grey;
    margin: auto;
}

.patron-card .sub-title{
    text-align: center;
}
.contact{
    margin-bottom: 9rem;
}
.contact__map{
    height: var(--contact-map-h);
    margin: auto;
    background: var(--clr-primary-700);
    position: relative;
}
.contact__getInTouch{
    height: var(--contact-git-h);
    width: var(--contact-git-w);
    position: absolute;
    bottom: -35%;
    left: 10%;
    background: var(--clr-secondary-100);
    padding: 1.2rem;
    /* background: lightpink; */
    box-shadow:  0px 1px 4px #d5d5d5;

}
.contact .row{
    margin-bottom: var(--space-100);
}
.contact__icon div{
    width: var(--contact-icon-w);
    height: var(--contact-icon-h);
    margin-left: auto;
}
.contact__icon img{
    width: 100%;
    height: 100%;
    background-size: fit-content;
}
.contact__info p{
    margin-bottom: 0;
}
.contact__info{
    text-decoration: none;
    color: black;
    transition: all .2s ease;
}



.developers__info{
    margin: .5rem 0;
}
.developers__info p {
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: var(--clr-secondary-500);
}
footer a:hover{
    color: whiite !important;
}
.footer{
    text-align: center;
    padding: 5rem 1rem 3rem 1rem;
}
.footer__col{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-200)
}
.footer__col > a:not(:last-child){
    margin-bottom: 1rem;
}
.footer__icons img{
    width: 25px;
    height: 25px;
}
.footer__icons a:not(:last-child){
    margin-right: .5rem;
}




/* media queries */
@media (min-width: 767.98px) { 
:root{
    --carousel-h: 35rem !important;
    /* font sizes */
      --text-800: 25px;
      --text-700: 18px;
      --text-650: 16.5px;
      --text-600: 16px;
      --text-500: 13.6px;
      --text-400: 10px;
      --text-300: 8px;

    /* margins */
    --m-1: 2rem;
      
    /* width variation */
    --activity-w: 15rem; 
    --activity-h: 110px;
    --activity-img-w: 250px;
    --activity-img-h: 150px;
    --custom-card-h: 156px;
    --custom-card-w: 164px;
    --activity-mb: 12rem;
    --contact-map-h: 30rem;
    --contact-git-h: 25rem; /* get in touch */
    --contact-git-w: 55%; /* get in touch */    
    --contact-icon-w: 40px;
    --contact-icon-h: 40px;
    --department-img-h: 30rem;
    --patron-w: 150px;
    --patron-h: 150px;
    --patron-card-h: 16rem;

}
/* navbar */
.navbar #navbarNav{
    justify-content: flex-end;
    padding-right: 1rem;
}
.title:not(.departments__wrapper .title){
    margin-bottom: 3rem;
}
.section{
    margin-bottom: 7rem;
}
.carousel-item img{
    width: 98%;
    border-radius: 10px;
}
/* arrow */
.arrow {
    display: block;
}
.activity{
    transition: all .2s ease-out;
}
.activities{
    margin-bottom: 4rem;
}
.activities__image{
    left: 30%;
    bottom: -110%;
    border-radius: 25px;
    transition: all .2s ease-out;
}
.activities__info{
    transition: all .2s linear;
}
.activity:hover .activities__image{
    transform: scale(1.15);
    border-radius: 5px;
}
.activity:hover .activities__info{
    transform: translateY(-10px);
}

.custom-card:hover{
    transform: scale(1.05);
}

/* upcomming activities  */
.upcomming .custom-card{
    width: calc(var(--activity-w) + 6rem);
    height: calc(var(--activity-h) + 10rem);
}
.recent .custom-card{
    width: calc(var(--activity-w) + 2rem);
    height: calc(var(--activity-h) + 5rem);
}

.departments__wrapper * , #dept-cta{
    margin-left: 0 !important;
    text-align: left;
}
.bg-stretch{
    padding-top: 5rem;
}
.patron-card{
    width: 15rem;
}

.contact__map{
    width: 75%;
    margin: 0;
}
.contact__getInTouch{
    bottom: 7%;
    left: 70%;

}
.contact__getInTouch .row{
margin-bottom: 2rem;
}
.contact__getInTouch .heading{
    margin-bottom: var(--m-1);  
    margin-top: .3rem;
}
}